MyRPG/[Ll]ibrary/
MyRPG/[Tt]emp/
MyRPG/[Oo]bj/
MyRPG/[Bb]uild/
MyRPG/[Bb]uilds/
MyRPG/[Ll]ogs/
MyRPG/[Uu]ser[Ss]ettings/

multiplayer1/[Ll]ibrary/
multiplayer1/[Tt]emp/
multiplayer1/[Oo]bj/
multiplayer1/[Bb]uild/
multiplayer1/[Bb]uilds/
multiplayer1/[Ll]ogs/
multiplayer1/[Uu]ser[Ss]ettings/

multiplayer2-udp/[Ll]ibrary/
multiplayer2-udp/[Tt]emp/
multiplayer2-udp/[Oo]bj/
multiplayer2-udp/[Bb]uild/
multiplayer2-udp/[Bb]uilds/
multiplayer2-udp/[Ll]ogs/
multiplayer2-udp/[Uu]ser[Ss]ettings/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db